@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #151B25;
  --active: #3ED88E;
  --active-70: rgba(62, 216, 142, 0.8);
  --active-40: rgba(62, 216, 142, 0.4);
  --text-primary: rgba(255, 255, 255, 0.9);
  --text-secondary: rgba(255, 255, 255, 0.7);
}

body {
  color: var(--text-secondary);
  background: var(--primary);
}

.radial-gradient {
  background: rgb(217,217,217);
  background: radial-gradient(circle, rgba(217, 217, 217, 0.08) 0%, rgba(255,255,255,0) 100%);
}

.small-divider{
  height: 20px;
  width: 1px;
  rotate: 20deg;
  background: rgb(217,217,217);
background: linear-gradient(180deg, rgba(217,217,217,0) 0%, rgba(62,216,142,0.60) 50%, rgba(255,255,255,0) 100%);

}

.active {
  color: var(--active);
  position: relative;
}

.active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 4px;
  background: var(--active);
}

nav ul.desktop li a:hover {
  color: var(--active);
}

nav ul.desktop li a:hover::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--active);
  transition: all 0.2s ease-in-out;
}

.mainLayout{
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .mainLayout{
    width: 60%;
  }
}

@media (max-width: 1180px) {
  .mainLayout{
    width: 70%;
  }
}

@media (max-width: 768px) {
  .mainLayout{
    width: 90%;
  }
}

@media (max-width: 640px) {
  .mainLayout{
    width: 80%;
  }
}

.tech-tag {
  border: 1px solid var(--text-secondary);
  border-radius: 50px;
  padding: 0 10px;
  color: var(--text-secondary);
}

.about-section{
  height: 200px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1)
}

.my-photo{
  width: 600px;
}

.my-photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: screen;
}

.about-me{
  position: absolute;
  top: -21px;
  left: 35px;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 600;
  color: var(--active);
  z-index: 1;
}

.about-me::before{
  content: '';
  position: absolute;
  top: 21px;
  left: 0px;
  width: 110px;
  height: 2px;
  z-index: -1;
  background: #2d323b;
}

.about-text{
  height: 200px;
  margin-top : 20px;
  padding: 20px;
  padding-top: 0;
  padding-right: 10px;
  overflow-Y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.about-text::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

@media (max-width: 640px) {
  .about-section{
    height: 400px;
  }

  .about-text{
    height: 400px;
  }
}